<!DOCTYPE html>
<html>
  <%= partial 'partials/head' %>

  <body>
    <div class="container-fluid">
    <%= partial 'partials/header' %>
    </div>
    <div class="container">
    <%= yield %>
    <%= partial 'partials/footer' %>
    </div>

    <%#= javascript_include_tag "jquery-1.11.3.min", "bootstrap.min" %>
    <%= yield_content :additional_js %>
  </body>
</html>
