<div id="header" class="row">
  <div class="banner col-xs-12 col-sm-12 col-md-12">
    <% link_to "/", :class => "home-link" do %>
    <div class="image"></div>
    <% end %>
    <div class="title">Tendenze Festival<span>3.0</span></div>
    <div class="subtitle">
      <ul class="info">
        <li class="text">XXI Edizione</li>
        <li class="text">18-19-20 Settembre</li>
        <li class="text">Spazio 4 - Via Manzoni 21 - Piacenza</li>
        <li class="icon first">
          <% link_to "https://www.facebook.com/tendenzefestival" do %>
            <%= image_tag "fbook-icon.png" %>
          <% end %>
        </li>
        <li class="icon">
          <% link_to "mailto:tendenzepc@gmail.com"  do %>
            <%= image_tag "mail-icon.png" %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class="navigation navbar" role="navigation">
      <div class="container">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Line Up', '/lineup.html' %></li>
            <li><%= link_to 'Programma', '/programma.html' %></li>
            <li><%= link_to 'Expo', '/expo.html' %></li>
            <li><%= link_to 'News', '/news.html' %></li>
            <li><%= link_to 'Extra', '/extra.html' %></li>
            <li><%= link_to 'Foto', '/foto.html' %></li>
            <li><%= link_to 'Il Festival', '/festival.html' %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
