---
title: Bands
---

<div class="band-container container-fluid">
  <div class="row color-<%= color_index %>">
    <div class="return hidden-lg"><%= link_to "< Torna alla Line Up", "/lineup.html##{name_id}" %></div>
    <div class="banner col-xs-12 col-sm-12 col-md-12">
      <% banner_path = data["banner"]? data["banner"] : "bands/banners/base.jpg" %>
      <%= image_tag banner_path, :class => "img-responsive" %>
    </div>
    <div class="content col-xs-12 col-sm-12 col-md-12">
      <div class="name title"><%= if data["fullname"] then data["fullname"] else data["name"] end %></div>
      <div class="genre">GENERE - <%= data["genre"] %></div>
      <div class="from">DA - <%= data["from"] %></div>
      <div class="datetime">DATA/ORA - <%= data["date"] %> alle <%= data["time"] %></div>
      <div class="stage">PALCO - <%= data["stage"] %></div>
      <div class="link"><%= link_to data["link"], data["link"], :target => "_blank" %></div>
      <% if data["embed"] %>
      <div class="music title">Music</div>
      <% embed_html = partial_embed data["embed"] %>
        <% if embed_html %>
        <div class="embed"><%= embed_html %></div>
        <% else %>
        <div class="link"><%= link_to data["embed"], data["embed"], :target => "_blank" %></div>
        <% end %>
      <% end %>
      <div class="logo"><%= image_tag "bands/logo.png" %></div>
    </div>
  </div>
</div>
