---
title: Expo
---

<div id="expo" class="row">
  <div class="expo-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading"><%= current_page.data.title %></div>
    <div class="intro">
      Come ogni anno Tendenze Festival vi propone un percorso attraverso il meglio dell'Expo alternativo ed innovativo, tra artigianato, vintage, musica, creatività e associazionismo in tutte le sue forme.
      <br/>
      <strong>La lista e le schede sono in continuo aggiornamento!</strong>
    </div>
    <% get_data_array("expo").sort_by{ |d| d["name"].downcase }.each do |data| %>
    <div class="exhibitor row">
      <div class="name col-xs-12 visible-xs"><%= data["title"] %></div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="image">
          <%= image_tag data['thumbnail'], :class => "img-responsive" %>
        </div>
      </div>
      <div class="content col-xs-12 col-sm-9 col-md-9">
        <div class="name hidden-xs"><%= data["title"] %></div>
        <div class="text"><%= data["text"] %></div>
        <% if data["links"] %>
          <% data["links"].each do |link| %>
          <div class="link"><%= link_to link, link, :target => "_blank" %></div>
          <% end %>
        <% end %>
        <% if data["mail"] %>
        <div class="mail"><%= link_to data["mail"], "mailto:" + data["mail"] %></div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
