<% content_for :additional_js do %>
  <%= javascript_include_tag "lightbox.min" %>
<% end %>

<% content_for :additional_css do %>
  <%= stylesheet_link_tag "lightbox" %>
<% end %>

<div id="home" class="row">
  <div class="news-container col-xs-12 col-sm-12 col-md-12">
    <div class="heading">News</div>
    <% path = "data/news" %>
    <% Dir.entries(path)
      .select{ |f| File.file?(File.join(path, f)) }
      .map{ |f| File.basename(f, ".md") }
      .sort_by{ |f| File.basename(f) }
      .reverse_each do |name| %>
    <% data = get_data("news", name) %>
    <div class="news row">
      <div class="col-xs-12 col-sm-9 col-md-9">
        <div class="title"><%= data["title"] %></div>
        <div class="date"><%= data["date"] %></div>
        <div class="content"><%= data["text"] %></div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <div class="image">
          <% link_to "img/news/#{data['image']}", "data-lightbox" => "gallery" do %>
          <%= image_tag "news/thumbs/#{data['image']}",
            :class => "img-responsive" %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
