---
title: Line Up
active: false
---

<% content_for :additional_js do %>
  <%= javascript_include_tag "lineup" %>
<% end %>

<div id="lineup" class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="heading"><%= current_page.data.title %></div>
  </div>
<% get_data_array("bands").sort_by{ |d| d["name"].downcase }.each_with_index do |data, index| %>
<% img_group_count = 12 # download images in clusters of 12 %>
<% name = data["name"].gsub(/[^a-zA-Z1-9]/,"").downcase %>
  <div id='<%= name %>' class="band col-xs-6 col-sm-4 col-md-3">
    <div class="image">
    <% if current_page.data.active %>
      <%= image_tag "bands/thumbs/empty.jpg",
        :class => "img-link img-responsive hidden-xs hidden-sm hidden-md#{index % img_group_count == 0? ' placeholder':''}",
        "data-src" => "img/#{data['thumbnail']}",
        "data-trigger" => (index / img_group_count),
        "data-toggle" => "modal",
        "href" => "bandmodals/#{name}.html",
        "data-target" => "##{name}-modal" %>
      <% link_to "bands/#{name}.html", :class => "hidden-lg" do %>
        <%= image_tag "bands/thumbs/empty.jpg",
          :class => "img-responsive#{index % img_group_count == 0? ' placeholder':''}",
          "data-src" => "img/#{data['thumbnail']}",
          "data-trigger" => (index / img_group_count)
        %>
      <% end %>
    <% else %>
      <% band_image_tag = image_tag(
          "bands/thumbs/empty.jpg",
          :class => "img-responsive#{index % img_group_count == 0? ' placeholder':''}",
          "data-src" => "img/#{data['thumbnail']}",
          "data-trigger" => (index / img_group_count)
         )
      %>
      <% if data["link"] %>
        <% link_to data["link"], :target => "_blank" do %>
          <%= band_image_tag %>
        <% end %>
      <% else %>
        <%= band_image_tag %>
      <% end %>
    <% end %>
    </div>
  </div>
  <% if current_page.data.active %>
  <div class="modal fade" id='<%= "#{name}-modal" %>' tabindex="-1" role="dialog" aria-labelledby='<%= "#{name}" %>' aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="band-info modal-content">
      </div>
    </div>
  </div>
  <% end %>
<% end %>
  <div class="more col-xs-12 col-sm-12 col-md-12">
    <div class="heading">Il venerdì sera</div>
    <% ven = get_data("bands/more", "afterparty") %>
    <div class="image">
      <%= image_tag ven["thumbnail"], :class => "img-responsive" %>
    </div>
    <div class="heading">La domenica pomeriggio</div>
    <% dom = get_data("bands/more", "hiphop") %>
    <div class="image">
      <%= image_tag dom["thumbnail"], :class => "img-responsive" %>
    </div>
  </div>
</div>
